<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qr.android.showme" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.alorma.github.sdk.client"
            android:value="@string/gh_client_id" />
        <meta-data
            android:name="com.alorma.github.sdk.secret"
            android:value="@string/gh_client_secret" />
        <meta-data
            android:name="com.alorma.github.sdk.oauth"
            android:value="@string/gh_client_callback" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRScannerActivity"
            android:label="@string/title_activity_qrscanner" >
        </activity>
        <activity
            android:name=".CreateQRActivity"
            android:label="@string/title_activity_create_qr" >
        </activity>
        <activity
            android:name=".AccountLinking.SelectionActivity"
            android:label="@string/title_activity_selection" >
        </activity>
    </application>

</manifest>
